@import '../../styles/settings.scss';

.wrapper {
  text-align: center;
}

.text {
  margin: 0 auto;
  max-width: 500px;
  font-size: ($base-size * 1.5);
}

.cards {
  list-style: none;
  margin: 0 auto;
  padding: ($base-size * 1.5) 0 0 0;
  max-width: 500px;
}
