@import '../../styles/settings.scss';

.navbar {
  background-color: darken($color-dark, 3%);
  color: $color-light;
}

.navbarInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: ($base-size * 6);
}

.logo {
  color: $color-light;
  text-decoration: none;

  &:hover {
    color: $color-light;
  }
}

.icon {
  font-size: 24px;
}

.menu {
  display: flex;
  gap: ($base-size * 2);
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  color: $color-light;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: ($base-size / 2);
  transition: $transition;

  &:hover {
    color: lighten($color-light, 10%);
  }
}

.linkActive {
  color: $color-warning;
}
